* {
  margin: 0;
  padding: 0;
  text-indent: 0;
  box-sizing: border-box;
}

html {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.5px;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  min-height: 100vh;
}

header {
  grid-row: 1 / 2;
  margin: 20px 40px;
}

main {
  grid-row: 2 / 3;
  margin: 0 40px;
}

.black-line {
  height: 2px;
  border-bottom: 1px solid black;
  margin: 2px;
}

.h2-container {
  text-align: center;
  margin-bottom: 8px;
}

#signature {
  position: running(signature);
  margin-bottom: 200px;
  width: auto;

  text-wrap: wrap;
  text-align: center;
}

#description {
  font-size: small;
}

footer {
  grid-row: 3 / 4;
  position: fixed;
  height: 19px;
  bottom: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  padding: 4px 8px;
}

tr, td, table {
  border: 1px solid black;
}

@page {
  size: A4;
  margin: 0;

  @bottom-center {
    content: element(footer);
  }

  @bottom-center {
    content: element(signature);
  }
}
